@model Lanxess.CN.SignatoryHotel.BussinessEntity.Hotel

@{
    ViewBag.Title = Resource.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.Details</h2>

<div>
    <h4>@Resource.Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.City.CityName)*@
            @Resource.City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Province.ProvinceName)*@
            @Resource.Province
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.ProvinceName)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Name)*@
            @Resource.HotelName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.CNName)*@
            @Resource.HotelCNName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNName)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Star)*@
            @Resource.Star
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Star)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Address)*@
            @Resource.Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.AddressCN)*@
            @Resource.AddressCN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCN)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Zip)*@
            @Resource.Zip
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Telephone1)*@
            @Resource.Telephone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Telephone2)*@
            @Resource.Telephone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Fax1)*@
            @Resource.Fax
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax1)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Fax2)*@
            @Resource.Fax
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax2)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.Email)*@
            @Resource.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>

    @if ((bool)(Session["SignatoryHotelIsAdmin"])) { @Html.ActionLink(Resource.Edit, "Edit", new { id = Model.HotelID, CityID = Request.QueryString["CityID"], currentFilter = Request.QueryString["currentFilter"] }) } |                                                           
    @Html.ActionLink(Resource.BackToList, "Index", new { CityID=Request.QueryString["CityID"], currentFilter = Request.QueryString["currentFilter"] })|
    @Html.ActionLink(Resource.Rooms, "Index", "Rooms", new { HotelID = Model.HotelID }, null) |
    @Html.ActionLink(Resource.Contracts, "Index", "Contracts", new { HotelID = Model.HotelID }, null)|
    <span class="glyphicon glyphicon-map-marker"></span><a href="http://api.map.baidu.com/place/search?query=@Model.AddressCN&region=@Model.City.CityName&output=html" target="_blank">@Resource.BaiduMap</a>
  
</p>
