
@{
    //ViewBag.Title = "Success";
    ViewBag.Title = Resource.Success;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.Congratulation</h2>

<h4>@Resource.You <span class="label label-warning">@Request.QueryString["actionName"]</span> @Resource.Province <span class="label label-success"> @Request.QueryString["provinceName"] </span>  @Resource.Successful</h4>

@Html.ActionLink(Resource.BackToList, "Index")




